node_modules/

*.ts
*.tsx
!*.d.ts
*.pptx
*.vsix
*.cjs
*.cjs.map

desktop.ini
dict.json

/.gitignore
/.npmignore
/.vscodeignore
/xshell.png
/xshell.ico
/.npmrc
/package-lock.json
/extension.js
/extension.js.map
/extension.d.ts

/i18n/assets/
/i18n/test/
